<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keke's Cooking Page</title>    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Keke's Cooking Page</h1>
    <a href="/recipes">View Recipes</a></br>
    <div class="container">
    <img src="https://media0.giphy.com/media/Z8blEZs9alp16/giphy.gif?cid=ecf05e477eepxn99odfu8co9gc1j1xompvstflp78mr0qmfw&rid=giphy.gif&ct=g">
    </div>
</body>
</html>