<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Recipes Index Page</h1>
    <nav>
        <a href="/recipes/new">Add A New Recipe</a>
    </nav>
    <ul>
        <% for(let i = 0; i < recipes.length; i++){ %>
            <li>
                <a href="/recipes/<%=recipes[i].id; %>">
                    <%=recipes[i].name; %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>