<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Recipe Page</h1>
    <form action="/recipes" method="POST">
        Name: <input type="text" name="name" />
        <br>
        Ingredients: <input type="text" name="ingredients" />
        <br>
        Instructions: <input type="text" name="instructions" />
        <br>
        <input type="submit" name="" value="Create Recipe"/>
    </form>
</body>
</html>