<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Recipe Page</h1>
    <form action="/recipes" method="POST">
        Name: <input type="text" name="name" size=55 />
        <br>
        Image Link: <input type="url" name="img" size=55 />
        <br>
        Tags: <input type="text" name="tags" size=55 />
        <br>
        Ingredients: <textarea name="ingredients" cols="50" rows="5">
        </textarea>
        <br>
        Instructions: <textarea name="instructions" cols="50" rows="5">
        </textarea>
        <br>
        <input type="submit" name="" value="Create Recipe"/>
    </form>
    <nav>
        <a href="/recipes">Back to Recipes Index</a>
    </nav>
</body>
</html>