body {
    background-color: rgb(242,	241, 228);	
}

h1 {
   display: flex; 
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   font-size: 72pt;
}

a {
    color: rgb(0, 62, 53);
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: flex;
    justify-content: center;
}

a:hover {
    color: black;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img.right {
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	float: none;
}