body {
    background-color: rgb(242,	241, 228);	
}

h1 {
   display: flex; 
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   font-size: 72pt;
}

nav {
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: rgb(0, 62, 53);
}

a:hover {
    color: black;
}

img {
    width:  200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}

li {
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    padding: 40px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}
